<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<!-- <context-param> <param-name>BASE_DIR</param-name> <param-value>D:/develop/workspace/ArtTel/WebContent</param-value> 
		</context-param> -->

	<context-param>
		<param-name>BASE_DIR</param-name>
		<param-value>D:/arttel/apache-tomcat-7.0.11/webapps/ArtTel</param-value>
	</context-param>

	<context-param>
		<param-name>DATA_UPLOAD_DIR</param-name>
		<param-value>data/upload/</param-value>
	</context-param>

	 <listener> 
	 	<listener-class> 
	 		org.springframework.web.context.ContextLoaderListener 
		</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:persistence-context.xml
		</param-value>
	</context-param>

	<display-name>ArtTel</display-name>

	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>*.app</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
